<link rel="stylesheet" href="/stylesheets/index.css">

<div class="container">
    <blockquote class="blockquote pt-3">
        <div>
            <span class="h1" id="pkgName">{{graph.package}}</span>
            <span class="lead pl-2" id="date">{{date graph.timestamp}}</span>
        </div>
        <footer class="blockquote-footer">Built by <cite id="author" title="Source Title">{{graph.account}}</cite>
        </footer>
    </blockquote>
</div>

<div class="px-5 py-3 row">
    <div class="col-4">
        <div class="list-group" id="list-tab" role="tablist">
            {{#each graph.result}}
            <a class="list-group-item list-group-item-action {{#ifCond @index '==' 0}}active{{/ifCond}}"
                id="list-{{this.cmd}}-list" data-toggle="list" href="#list-{{this.cmd}}" role="tab"
                aria-controls="{{this.cmd}}">{{this.cmd}}</a>
            {{/each}}
        </div>
    </div>
    <div class="col-8">
        <div class="tab-content" id="nav-tabContent">
            {{#each graph.result}}
            <div class="tab-pane fade show {{#ifCond @index '==' 0}}active{{/ifCond}}" id="list-{{this.cmd}}" role="tabpanel"
                aria-labelledby="list-{{this.cmd}}-list">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h2 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                                aria-expanded="true" aria-controls="collapseOne">
                                <span class="lead">Input files ({{this.input.length}})
                            </button>
                        </h2>
                    </div>
                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne">
                        <div class="card-body">
                            {{#each this.input}}
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <a href="#" class="text-reset">{{this.name}}</a>
                                    <footer><small class="text-muted">{{this.hash}}</small></footer>
                                </li>
                            </ul>
                            {{/each}}
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h2 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseTwo"
                                aria-expanded="true" aria-controls="collapseTwo">
                                <span class="lead">Output files ({{this.output.length}})
                                </span>
                            </button>
                        </h2>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo">
                        <div class="card-body">
                            {{#each this.output}}
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <a href="#" class="text-reset">{{this.name}}</a>
                                    <footer><small class="text-muted">{{this.hash}}</small></footer>
                                </li>
                            </ul>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalCenter" tabindex="-1" role="dialog" aria-labelledby="modalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalCenterTitle"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modelCenterBody">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">

    function showModal(nodeName) {
        var selectedNode = nodes.get(nodeName); // retrive node objects from dataSet object
        if (nodeName && selectedNode) { // if node exists
            var node = selectedNode
            var isCmd = node.isCmd;
            var title = node.title;
            var name = node.label;
            var descriptionRender = ""
            if (isCmd) {
                descriptionRender = `
            <div class="accordion">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h2 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                                aria-expanded="true" aria-controls="collapseOne">
                                <span class="lead">Input files (${node.input.length})</span>
                            </button>
                        </h2>
                    </div>
                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" >
                        <div class="card-body">
                            ${node.input.map(file => {
                    return `<ul class="list-group list-group-flush">
                                <li class="list-group-item"> 
                                    <a href="#" onclick="showModal('${file.hash}')" class="text-reset">${file.name}</a> 
                                    <footer><small class="text-muted">${file.hash}</small></footer>
                                </li>
                            </ul>`;
                }).join('')}
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h2 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo"
                                aria-expanded="false" aria-controls="collapseTwo">
                                <span class="lead">Output files (${node.output.length})</span>
                            </button>
                        </h2>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo">
                        <div class="card-body">
                            ${node.output.map(file => {
                    return `<ul class="list-group list-group-flush">
                                <li class="list-group-item"> 
                                    <a href="#" onclick="showModal('${file.hash}')" class="text-reset">${file.name}</a> 
                                    <footer><small class="text-muted">${file.hash}</small></footer>
                                </li>
                            </ul>`;
                }).join('')}
                        </div>
                    </div>
                </div>
            </div>
           `
            }
            else
                descriptionRender = `
                <ul class="list-group list-group-flush">
                      <li class="list-group-item">
                          <div class="d-flex justify-content-between">
                          <span class="lead">Full path </span> <p class="text-monospace">&nbsp&nbsp&nbsp${node.title}&nbsp&nbsp</p>
                          </div>
                          
                      </li>
                      <li class="list-group-item">
                          <div class="d-flex justify-content-between">
                          <span class="lead">Hash</span> <p class="text-monospace">&nbsp&nbsp&nbsp${node.title}&nbsp&nbsp</p>
                          </div>
                      </li>
                </ul>`
            $('#modalCenterTitle').html(name);
            $('#modelCenterBody').html(descriptionRender);
            $('#modalCenter').modal('show')
        }
    }
</script>